In [1]:
import pandas as pd
import numpy as np

In [2]:
data = []

In [3]:
data_janmar_2019 = pd.read_csv('OPTIDX_NIFTY_CE_01-Jan-2019_TO_31-Mar-2019.csv')
data.append(data_janmar_2019)

In [4]:
data_aprjun_2019 = pd.read_csv('OPTIDX_NIFTY_CE_01-Apr-2019_TO_30-Jun-2019.csv')
data.append(data_aprjun_2019)

In [5]:
data_julsep_2019 = pd.read_csv('OPTIDX_NIFTY_CE_01-Jul-2019_TO_29-Sep-2019.csv')
data.append(data_julsep_2019)

In [6]:
data_octdec_2019 = pd.read_csv('OPTIDX_NIFTY_CE_01-Oct-2019_TO_25-Dec-2019.csv')
data.append(data_octdec_2019)

In [7]:
data_janmar_2020 = pd.read_csv('OPTIDX_NIFTY_CE_01-Jan-2020_TO_31-Mar-2020.csv')
data.append(data_janmar_2020)

In [8]:
data_aprjun_2020 = pd.read_csv('OPTIDX_NIFTY_CE_01-Apr-2020_TO_30-Jun-2020.csv')
data.append(data_aprjun_2020 )

In [9]:
data_julsep_2020 = pd.read_csv('OPTIDX_NIFTY_CE_01-Jul-2020_TO_29-Sep-2020.csv')
data.append(data_julsep_2020)

In [10]:
data_octdec_2020 = pd.read_csv('OPTIDX_NIFTY_CE_01-Oct-2020_TO_30-Dec-2020.csv')
data.append(data_octdec_2020)

In [11]:
data_janfeb_2021 = pd.read_csv('OPTIDX_NIFTY_CE_01-Jan-2021_TO_28-Feb-2021.csv')
data.append(data_janfeb_2021)

In [12]:
data_marmay_2021 = pd.read_csv('OPTIDX_NIFTY_CE_01-Mar-2021_TO_30-May-2021.csv')
data.append(data_marmay_2021)

In [13]:
data_junaug_2021 = pd.read_csv('OPTIDX_NIFTY_CE_01-Jun-2021_TO_30-Aug-2021.csv')
data.append(data_junaug_2021)

In [14]:
market_data = pd.concat(data,axis=0)

In [15]:
market_data

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,NIFTY,11-Feb-2019,04-Apr-2019,CE,12400,0.0,0.00,0.0,5.05,0.00,3.20,0,0.00,0.00,0,0,-
1,NIFTY,11-Feb-2019,04-Apr-2019,CE,9600,0.0,0.00,0.0,1447.70,0.00,1391.30,0,0.00,0.00,0,0,-
2,NIFTY,11-Feb-2019,04-Apr-2019,CE,12150,0.0,0.00,0.0,12.60,0.00,8.65,0,0.00,0.00,0,0,-
3,NIFTY,11-Feb-2019,04-Apr-2019,CE,12200,0.0,0.00,0.0,10.60,0.00,7.15,0,0.00,0.00,0,0,-
4,NIFTY,11-Feb-2019,04-Apr-2019,CE,12250,0.0,0.00,0.0,8.85,0.00,5.90,0,0.00,0.00,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,NIFTY,30-Aug-2021,02-Sep-2021,CE,15350,1420.8,1566.85,1420.8,1566.85,1566.85,1566.85,2,16.84,1.49,50,0,-
2816,NIFTY,30-Aug-2021,02-Sep-2021,CE,15100,0.0,0.00,0.0,1050.50,0.00,1835.60,0,0.00,0.00,0,0,-
2817,NIFTY,30-Aug-2021,02-Sep-2021,CE,15150,0.0,0.00,0.0,1018.95,0.00,1785.60,0,0.00,0.00,0,0,-
2818,NIFTY,30-Aug-2021,02-Sep-2021,CE,15200,0.0,0.00,0.0,1467.00,1467.00,1735.65,0,0.00,0.00,1700,0,-
2819,NIFTY,30-Aug-2021,02-Sep-2021,CE,14950,0.0,0.00,0.0,1148.45,0.00,1985.55,0,0.00,0.00,0,0,-

In [16]:
market_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42688 entries, 0 to 2819
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Symbol                    42688 non-null  object
 1   Date                      42688 non-null  object
 2   Expiry                    42688 non-null  object
 3   Option Type               42688 non-null  object
 4   Strike Price              42688 non-null  int64
 5   Open                      42688 non-null  float64
 6   High                      42688 non-null  float64
 7   Low                       42688 non-null  float64
 8   Close                     42688 non-null  float64
 9   LTP                       42688 non-null  float64
 10  Settle Price              42688 non-null  float64
 11  No. of contracts          42688 non-null  int64
 12  Turnover in Lacs          42688 non-null  float64
 13  Premium Turnover in Lacs  42688 non-null  float64
 14  Open Int                  42688 non-null  int64
 15  Change in OI              42688 non-null  int64
 16  Underlying Value          42688 non-null  object
dtypes: float64(8), int64(4), object(5)
memory usage: 5.9+ MB

In [17]:
market_data.describe()

,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI
count,42688.000000,42688.000000,42688.000000,42688.000000,42688.000000,42688.000000,42688.000000,4.268800e+04,4.268800e+04,42688.000000,4.268800e+04,4.268800e+04
mean,11675.523566,157.384033,162.986503,151.651762,991.915907,252.781612,1079.440770,2.381814e+03,2.207448e+04,128.154815,5.264505e+04,6.166153e+03
std,2458.234054,602.662840,610.302576,595.048422,1029.360426,779.652962,1377.053308,2.732082e+04,2.501703e+05,1350.329184,2.360082e+05,6.835032e+04
min,4600.000000,0.000000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-1.439950e+06
25%,10100.000000,0.000000,0.000000,0.000000,226.550000,0.000000,102.650000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,11600.000000,0.000000,0.000000,0.000000,740.700000,0.000000,602.850000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
75%,13200.000000,0.000000,0.000000,0.000000,1456.750000,3.100000,1526.262500,0.000000e+00,0.000000e+00,0.000000,7.500000e+01,0.000000e+00
max,18200.000000,7274.950000,7275.450000,7273.250000,7273.250000,7273.250000,7676.000000,1.419944e+06,1.204250e+07,52469.760000,5.777475e+06,2.717175e+06

In [18]:
market_data.to_csv('OPTIDX_NIFTY_CE_01-Jan-2019_TO_30-Aug-2021.csv',index=False)